<div class= "col-xl-4" style= "margin: auto; background-color: #f8f8f8; border-radius: 6px; padding: 15px; box-shadow: 0px 0px 2px 2px (255, 255, 255, 0.1)">
<%= form_with(model: jogging_time) do |form| %>
  <h1>Edit jogging time</h1>
  <% if jogging_time.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(jogging_time.errors.count, "error") %> prohibited this jogging_time from being saved:</h2>

      <ul>
        <% jogging_time.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %> 

  <div class="field">
    <%= form.label :date %>
    <%= form.date_field :date, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :distance %>
    <%= form.number_field :distance, class: "form-control"  %>
    <%= form.select :distance_unit, options_for_select([['Meters', 'meters'], ['Kilometers', 'kilometers']]), { prompt: 'Select Unit' }, class: "form-control"  %>
  </div>

  <div class="field">
    <%= form.label :time %>
    <%= form.number_field :hours, value: (@jogging_time.time || 0) / 60, class: "form-control" %> Hours
    <%= form.number_field :minutes, value: (@jogging_time.time || 0) % 60, class: "form-control" %> Minutes
  </div>

  <div class="actions">
    <%= form.submit "Submit", class: "btn btn-primary col-12" %>
  </div>

<% end %>
</div>
