<div id="<%= dom_id jogging_time %>" class= "post-container">
  <p>
    <strong>Date:</strong>
    <%= jogging_time.date %>
  </p>

  <p>
    <strong>Distance:</strong>
    <%= jogging_time.distance %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= jogging_time.time %>
  </p>

  <p>
    <strong>User:</strong>
    <%= jogging_time.user_id %>
  </p>

  <p>
    <%= link_to "", jogging_time, class:"post-link" %>
  </p>

</div>
 