<h1>Edit User</h1>
<%= form_with(model: @user, local: true) do |form| %>
  <div class="field">
    <%= form.label :email %><br>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :role %><br>
    <%= form.select :role, User.roles.keys.map { |role| [role.titleize, role] } %>
  </div>

  <div class="actions">
    <%= form.submit "Update User" %>
  </div>
<% end %>
